<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mail2WorkItem.ConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mail2WorkItem.ConsoleApp.Properties.Settings>
            <setting name="POP3_Hostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="POP3_Port" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="POP3_UseSsl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="POP3_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="POP3_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="TFS_CollectionUrl" serializeAs="String">
                <value>http://localhost:8080/tfs/DefaultCollection</value>
            </setting>
            <setting name="TFS_ProjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="TFS_WorkItemType" serializeAs="String">
                <value>Bug</value>
            </setting>
            <setting name="SMTP_Hostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SMTP_Port" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SMTP_From" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP_UseSsl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SMTP_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTP_Password" serializeAs="String">
                <value />
            </setting>
        </Mail2WorkItem.ConsoleApp.Properties.Settings>
    </applicationSettings>
</configuration>